<!DOCTYPE html>
<html>
    <head>
        <div class="bg-image"></div>
        <title>About</title>
        <link rel="icon"href="/img/cloud2.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>


    <div class="bg-text">
    <div class="xyz">
{{>header}}
<img class="portrait" src="/img/robot.jpg">

</div>

{{>footer}}
</div>

    

  



</body>
</html>