<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon"href="/img/cloud2.png">
<link rel="stylesheet" href="/css/style.css">


    </head>
<body>
<div class="xyz">
{{>header}}
<p>{{errorMessage}}</p>
    </div>

{{>footer}}

</body>
</html>