<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/cloud2.png">
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    <div class="bg-image"></div>
    <div class="bg-text">
    <div class="xyz">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form>
            <input placeHolder='Location'>
            <button class="button"><span>Search</span></button>
        </form>


        <div class="datahere">
            
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

    </div>
</div>

{{>footer}}
    
    <script src="/js/apps.js"></script>
</body>

</html>