/* body{
    color:#3d6270;
    font-family:arial; 
    text-align:center;
    max-width:650px;
    margin: 10px;
    padding:0 16px; 
    background-color: bisque;
    flex-direction:column;
    display:flex;
    min-height:100vh;
    
} */

footer{
color:black;
margin-bottom:25px;
opacity:09;
text-align:center;

}

header {
margin-top:16px;
margin-bottom: 50px;
text-align:center;
}

h1{
    font-size: 60px;
    margin-bottom:30px;
    text-align:center;
    opacity: 0.80;

}

/* header a {
    color: black;
    margin-right: 20px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color:#6e6e6d;
    box-sizing: border-box;
    border: 3px solid white;
    text-align:center;
} */
header a {
    text-decoration: none;
    border-radius: 4px;
    background-color:#000;
    opacity: 0.70;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.portrait{
    width:250px;


}
.xyz{
    flex-grow:1;
    text-align:center;
}

input{
    filter: alpha;
    opacity: 0.50;
    height: 50px;
    /* border: 2px solid rgb(241, 159, 91); */
    padding:8px;
    width:50%;
    margin-right:20px;
    margin-bottom:20px;
}
/* button{
    cursor: pointer;
    border:2px solid white;
    background:#6e6e6d;
    color: black;
    padding:8px
} */

.button {
    border-radius: 4px;
    background-color:#000;
    opacity: 0.70;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }








.datahere{
    
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding:10px 10px 10px 10px;
}

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("dhruv-image.JPG");
  
    /* Add the blur effect */
    filter: blur(8px); 
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }








  
